<div class="row">
    <div class="col-md-12">
        <div class="badge-container">
            <h2 translate="badges-earned"></h2>
            <!--ng-if="hasFiveHoursBadge" -->
            <img class="bs-badge" src="dist/resources/badge-5-hours.png">
            <!--ng-if="hasSevenHoursBadge" -->
            <img class="bs-badge" src="dist/resources/badge-7-hours.png">
            <!--ng-if="hasFiveHoursBadge" -->
            <img class="bs-badge" src="dist/resources/badge-10-hours.png">
                <span repeat="(key, badge) in badges">
                    <!--ng-if="badge.type === 'two-consecutive-days'"-->
                    <img class="bs-badge" src="dist/resources/badge-2-consecutive-days.png">
                </span>
        </div>
    </div>
</div>