<header class="navbar navbar-fixed-top white" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <a  ui-sref="home"><img src="dist/resources/bookspring-logo.jpg" alt=""></a>
            </div>
            <ul class="nav navbar-nav list-inline right">
                <li uib-dropdown>
                    <a uib-dropdown-toggle>{{'language' | translate}} <i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <ul uib-dropdown-menu>
                        <li>
                            <a ng-click="changeLanguage('en')" translate="english"></a>
                            <a ng-click="changeLanguage('es')" translate="spanish"></a>
                        </li>
                    </ul>
                </li>
                <li>
                <a class="btn btn-link" ng-click="logout()" translate="logout"></a>
              </li>
            </ul>
        </div>
    </div>
</header>