.uib-dropdown-menu {
    background-color: #fff;
}

@media only screen
and (max-device-width: 768px)
{
    .navbar {
        height: 170px;
    }
    .navbar-nav.right {
        text-align: center;
    }
    .navbar-nav:after {
        content: ' ';
        overflow: hidden;
    }
    .navbar-nav>li {
        display: inline-block;
    }
}

@media only screen
and (min-device-width: 768px)
{
    .navbar {
        height: 120px;
    }
    .navbar-nav.right {
        float:right;
    }
}
.navbar-header {
    position: relative;
}
.navbar-header img {
    max-width: 300px;
}
.header-txt {
    position: absolute;
    right:35px;
    top:55px;
    background-color: #fff;
    color: #034150;
    padding: 2px;
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
}

